fastapi
uvicorn
pydantic
yt-dlp
moviepy==1.0.3
SpeechRecognition
pydub
requests
python-multipart
ffmpeg-python
openai-whisper
faster-whisper
google-generativeai
python-dotenv
opencv-python
numpy<2.0.0
pytubefix
imageio==2.35.1
cloudinary
webrtcvad