fastapi
uvicorn
pydantic
yt-dlp
moviepy>=2.1.2
SpeechRecognition
pydub
requests
python-multipart
ffmpeg-python
openai-whisper
faster-whisper
google-generativeai
python-dotenv
opencv-python
numpy
pytubefix
imageio>=2.36.0
cloudinary
webrtcvad